<div class="container">
  <div class="jumbotron">
    <h1>Referee Creator</h1>
    <p>Create a new ref!</p>
  </div>
</div>

    <% if @referee.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @referee.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
   <% end %>

<div class="container">
  <div class="jumbotron">
    <%= form_for @referee , :action => "create", :method => :post do |f| %>
      <%= render 'referee_fields', f: f %>
      <%= f.submit "Create Referee", class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</div>

